.AddInfoForSong{
    width: 60%;
    >label>input{ margin: .5em 0; border: 1px solid gray;}
    >p{
        margin: .5em 0;
    }
    >.create{
        width: 100%;
        display: flex;
        justify-content: right;
    }
    >.LoadSong{
        display: flex;
        justify-content: space-between;
        align-items: center;
        >button{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    >.LoadSong button, >.create button{
        display: block;
        cursor: pointer;
        margin: .5em 0;
        padding: .5em;
        border: 1px solid rgb(228, 194, 1);
        background: transparent;
    }
        >.LoadSong button:hover,
        >.create button:hover{
        background: rgb(228, 194, 1);
    }
}