.PlaylistCardAdd{
    margin-left: .5em;
    width: 180px;
    cursor: pointer;
    position: relative;
    height: 125px;
    background: rgb(227, 227, 227);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    >p{
        >span{
            font-size: 1.6em;
        }
    }
}
.PlaylistCardAdd::after {
        content: "";
        transform: rotate(-45deg);
        position: absolute;
        top: -1em;
        right: -1.09em;
        height: 2em;
        width: 2em;
        border-left: 1px solid black;
        background: rgb(227, 227, 227);
    }
.PlaylistCardAdd::before {
    content: "";
    transform: rotate(-45deg);
    position: absolute;
    bottom: -1em;
    left: -1.06em;
    height: 2em;
    width: 2em;
    border-right: 1px solid black;
    background: rgb(227, 227, 227);
}