.Volume{
    display: flex;
    margin-left: 1em;
    justify-content: center;
    align-items: center;
    >div {
            margin-left: .5em;
            width: 3em;
            border-radius: .2em;
            height: .2em;
            background: grey;
            cursor: pointer;

            >span {
                position: relative;
                display: flex;
                align-items: center;
                border-radius: .2em;
                width: 0%;
                height: .2em;
                background: rgb(228, 194, 1);
            }
        }
}